" Reset space key as leader
let mapleader = " "

set number relativenumber

" Search settings
set ignorecase
set smartcase
set incsearch
set hlsearch
nnoremap <leader>h :noh<CR>

" Navigate tabs w/ <C-{hl}>
nnoremap <C-l> :tabnext<CR>
nnoremap <C-h> :tabprev<CR>

"" Better movement
" Page up/down with J & K, Beginning/End of line H & L
map K <C-u>
map J <C-d>
map H ^
map L $

"" Better indenting
nmap >> <Nop>
nmap << <Nop>
vmap >> <Nop>
vmap << <Nop>

nnoremap <Tab>    >>
nnoremap <S-Tab>  <<
vnoremap <Tab>    >><Esc>gv
vnoremap <S-Tab>  <<<Esc>gv

" Pair braces
inoremap <> <><Left>
inoremap () ()<Left>
inoremap {} {}<Left>
inoremap [] []<Left>
inoremap "" ""<Left>
inoremap '' ''<Left>
inoremap `` ``<Left>

