" Reset space key as leader
let mapleader = " "

set number relativenumber

" Search settings
set ignorecase
set smartcase
set incsearch
set hlsearch
nnoremap <leader>h :noh<CR>

" Navigate tabs & windows w/ <C-{jkhl}>
nnoremap <C-j> :tabprev<CR>
nnoremap <C-k> :tabnext<CR>
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l

"" Better movement
" Beginning/End of line H & L
map H ^
map L $

"" Better indenting
nmap >> <Nop>
nmap << <Nop>
vmap >> <Nop>
vmap << <Nop>

nnoremap <Tab>    >>
nnoremap <S-Tab>  <<
vnoremap <Tab>    >><Esc>gv
vnoremap <S-Tab>  <<<Esc>gv

" delete without yanking
nnoremap <leader>d "_d
vnoremap <leader>d "_d

" replace currently selected text with default register
" without yanking it
vnoremap <leader>p "_dP

" enable surround plugin emulation
set surround
" enable commentary plugin emulation
set commentary
" enable vim key bindings in the tree
set NERDTree
