" Reset space key as leader
let mapleader = " "

set number relativenumber

" Search settings
set ignorecase
set smartcase
set incsearch
set hlsearch
nnoremap <leader>h :noh<CR>

" Navigate tabs w/ <C-{hl}>
nnoremap <C-j> :tabprev<CR>
nnoremap <C-k> :tabnext<CR>
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l

"" Better movement
" Page up/down with J & K, Beginning/End of line H & L
"map K <C-u>
"map J <C-d>
map H ^
map L $

"" Better indenting
nmap >> <Nop>
nmap << <Nop>
vmap >> <Nop>
vmap << <Nop>

nnoremap <Tab>    >>
nnoremap <S-Tab>  <<
vnoremap <Tab>    >><Esc>gv
vnoremap <S-Tab>  <<<Esc>gv

